<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="config.properties"/>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="mapper/AircarrierMapper.xml"/>
        <mapper resource="mapper/AircraftMapper.xml"/>
<!--        <mapper resource="mapper/AirportMapper.xml"/>-->
<!--        <mapper resource="mapper/AirstripMapper.xml"/>-->
<!--        <mapper resource="mapper/FlightMapper.xml"/>-->
        <mapper resource="mapper/DirectionMapper.xml"/>
        <mapper resource="mapper/PassengerMapper.xml"/>
        <mapper resource="mapper/PassportMapper.xml"/>
        <mapper resource="mapper/PilotMapper.xml"/>
<!--        <mapper resource="mapper/TicketMapper.xml"/>-->
    </mappers>
</configuration>
