<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.solvd.airport.persistence.PassportRepository">

    <insert id="create" keyProperty="id" useGeneratedKeys="true">
        Insert into passports(number) values (#{number})
    </insert>

    <sql id="fields">
        pt.id as passport_id,
        pt.number as passport_number
    </sql>

    <sql id="readAll">
        Select
        <include refid="fields"/>
        from
        passports pt
    </sql>

    <select id="readById" resultMap="PassportResultMap">
        <include refid="readAll"/>
        where pt.id = #{id}
    </select>

    <select id="readAll" resultMap="PassportResultMap">
        <include refid="readAll"/>
        order by pt.id
    </select>

    <update id="update" keyProperty="id" useGeneratedKeys="true">
        update passports set
        number = #{number}
        where id = #{id}
    </update>

    <delete id="deleteById" >
        delete from passports where id = #{id}
    </delete>

    <resultMap id="PassportResultMap" type="com.solvd.airport.domain.passenger.Passport" autoMapping="false">
        <id property="id" column="passport_id" />
        <result property="number" column="passport_number"/>
    </resultMap>
</mapper>
