<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.solvd.airport.persistence.PassengerRepository">

    <insert id="create" keyProperty="id" useGeneratedKeys="true">
        Insert into passengers(name, passport_id)
        values (#{name}, #{passport.id})
    </insert>

    <sql id="fields">
        pr.id as passenger_id,
        pr.name as name,
        <include refid="com.solvd.airport.persistence.PassportRepository.fields"/>
    </sql>

    <sql id="joins">
        left join passports pt on pr.passport_id = pt.id
    </sql>

    <sql id="readAll">
        select
        <include refid="fields"/>
        from passengers pr
        <include refid="joins"/>
    </sql>

    <select id="readById" resultMap="PassengerResultMap">
        <include refid="readAll"/>
        where pr.id = #{id}
    </select>

    <select id="readAll" resultMap="PassengerResultMap">
        <include refid="readAll"/>
        order by pr.id
    </select>

    <update id="update" keyProperty="id" useGeneratedKeys="true">
        update passengers set
        name = #{name},
        passport_id = #{passport.id}
        where id = #{id}
    </update>

    <delete id="deleteById">
        delete from passengers where passengers.id = #{id}
    </delete>

    <resultMap id="PassengerResultMap" type="com.solvd.airport.domain.passenger.Passenger" autoMapping="false">
        <id property="id" column="passenger_id"/>
        <result property="name" column="name"/>
        <association property="passport"
                     resultMap="com.solvd.airport.persistence.PassportRepository.PassportResultMap"/>
    </resultMap>
</mapper>
